@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary:#D0E5DE;
    --bg: #171a19;
    --clr:#fff;
    --spacing:10vmin;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg);
    color: var(--clr);
    padding: 0 calc(var(--spacing) * 3);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border: var(--primary) 1px solid;
    width: fit-content;
    padding: calc(var(--spacing) / 10) calc(var(--spacing) /3);
    border-radius: var(--spacing);
}

header h1 {
    color: var(--primary);
}
